.container {
  max-width: 1155px;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  margin: 0;
  padding: 0;
}
main{
  overflow: hidden;
}

.brand-section {
  background-image: url(..//img/section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 125px;

  @media all and (max-width: 320px) {
    padding-bottom: 40px;
  }
  @media all and (max-width: 768px) {
    padding-bottom: 40px;
  }

  h2 {
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    padding-top: 120px;
    margin: 0;

    @media all and (max-width: 320px) {
      padding-top: 15px;
      font-size: 24px;
    }
    @media all and (max-width: 768px){
     padding-top: 40px;
    }
  }

  h3 {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 80px;

    @media all and (max-width: 320px) {
      margin-bottom: 40px;
    }
  }

  .list-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100%;

    @media all and (max-width: 320px) {
      display: block;

    }
  }

  .block-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto Regular', sans-serif;
    background-color: #f5af1f;
    display: none;
    opacity: 0.7;
    padding: 9px 16px 10px;
    margin: 0;
    box-sizing: border-box;

    @media all and (max-width: 320px) {
      font-size: 15px;

    }
    span {
      font-size: 14px;
    }
  }

  .block-holder {
    position: relative;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.64);
    height: 100%;

  }

  li {
    list-style-type: none;
    padding-right: 28px;
    margin-bottom: 58px;
    width: 30.33%;
    height: 312px;
    border-radius: 3px;

    @media all and (max-width: 320px) {
      height: 200px;
      width: 100%;
      margin-bottom: 30px;
    }
    @media all and (max-width: 768px){
      width: 40%;
    }

    &:hover {
      .block-text {
        display: block;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .block-info {
    display: flex;

    @media all and (max-width: 320px) {
      display: block;
    }
    @media all and (max-width: 768px){
     display: block;
    }

    h4 {
      color: #ffffff;
      font-size: 28px;
      margin-top: 0;
      margin-bottom: 20px;

      @media all and (max-width: 320px) {
        font-size: 14px;
      }
    }

    img {
      width: 100%;
      border-radius: 3px;
    }

    .block-text-right {
      display: flex;
      flex-flow: column wrap;
      font-family: 'Roboto Regular', sans-serif;
      margin-top: 0;
      margin-left: 31px;
      line-height: 1.4;
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
      padding: 0;

      @media all and (max-width: 320px) {
        margin: 0;
        padding-top: 10px;
        font-size: 14px;
      }
      @media all and (max-width: 768px){
        padding-top: 25px;
      }

      p {
        margin: 0;
      }
    }
  }
}

.application {
  background-color: #e8e8e8;
  height: 229px;


  .btn-primary {
    background-color: #f5af1f;
    color: #ffffff;
    border-radius: 60px;
    padding: 20px 60px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;

    @media all and (max-width: 320px) {
      padding: 10px 43px;
      font-size: 20px;
    }
    @media all and (max-width: 768px) {
      margin-top: 10px;
    }
  }
}

.car {
  margin-bottom: 128px;

  @media all and (max-width: 320px) {
    margin-bottom: 10px;
  }
  @media all and (max-width: 768px) {
    margin-bottom: 50px;
  }
  @media all and (max-width: 1024px) {
    margin-bottom: 50px;
  }

  img {
    position: absolute;
    right: 0;
    width: 700px;

    @media all and (max-width: 320px) {
      width: 320px;
      position: relative;
    }
    @media all and (max-width: 768px) {
      width: 100%;
      position: relative;
    }
    @media all and (max-width: 1024px) {
      position: relative;
      width: 100%;
    }
  }

  .block-text-left {
    position: relative;
    font-family: 'Roboto Regular', sans-serif;
    line-height: 1.8;
    font-size: 24px;
    color: #120c0c;
    padding: 0;
    max-width: 567px;

    @media all and (max-width: 320px) {
      font-size: 15px;
    }
    @media all and (max-width: 768px) {
      text-align: center;
      margin: 0 auto;
    }
    @media all and (max-width: 1024px) {
      text-align: center;
      margin: 0 auto;
    }
  }

  h2 {
    font-family: 'Roboto Black', sans-serif;
    text-align: center;
    color: #f5af1f;
    font-size: 48px;
    margin-top: 118px;

    @media all and (max-width: 320px) {
      margin-top: 30px;
      font-size: 24px;
    }
    @media all and (max-width: 768px) {
      margin-top: 40px;
    }
    @media all and (max-width: 1024px) {
      margin-top: 40px;
    }
  }

  h3 {
    font-family: 'Roboto Regular', sans-serif;
    text-align: center;
    color: #f5af1f;
    font-size: 24px;
    margin-bottom: 75px;

    @media all and (max-width: 320px) {
      margin-bottom: 30px;
      font-size: 12px;
    }
  }

  h5 {
    font-family: Roboto Bold;
    font-size: 30px;

    @media all and (max-width: 320px) {
      font-size: 15px;
    }
  }
}

.footer {
  padding-top: 30px;
  background-color: #000000;

  @media all and (max-width: 320px){
    padding-top: 15px;
  }
  .text-center {
    @media all and (max-width: 320px){
      text-align: left;
    }
    @media all and (max-width: 768px){
      text-align: center;
    }
    @media all and (max-width:1024px){
      width: 300px;
    }
    p{
      font-size: 20px;
    }
  }

  .logo{
    display: block;
  }
    .row {
    display: flex;
    justify-content: space-between;

      @media all and (max-width: 320px) {
        display: block;
      }
      @media all and (max-width: 768px) {
        display: block;
      }
      .contact{
        @media all and (max-width: 768px) {
           width: 300px;
          margin: 0 auto;
        }
      }
  }

  .copyright {
    color: #ffffff;
    font-size: 14px;
    font-family: "Roboto Bold", sans-serif;
    margin-top: 48px;
  }

  .tel {
    line-height: 1.5;
    padding: 0;
    list-style: none;
    @media all and (max-width: 320px){
      margin-bottom: 15px;
    }
    @media all and (max-width: 768px){
      margin-bottom: 35px;
    }


    .text{
      color: #ffffff;
      font-size: 22px;
      overflow: hidden;
    }

    img {
      float: left;
      margin-right: 26px;
    }

    a {
      color: #ffffff;
      font-size: 24px;
      text-decoration: none;
    }

    p {
      margin-bottom: 29px;

    }
  }

  h5 {
    color: #ffffff;
    font-family: "Roboto Bold";
    font-size: 24px;
    margin-bottom: 49px;

    @media all and (max-width: 320px){
      margin-top: 40px;
    }
    @media all and (max-width: 768px){
      margin-top: 40px;
    }
  }

  .btn-primary {
    background-color: #f5af1f;
    color: #ffffff;
    border-radius: 60px;
    padding: 20px 60px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    margin-bottom: 41px;

    @media all and (max-width: 320px) {
      margin-top: 15px;
      padding: 10px 35px;
      font-size: 20px;
    }
  }
}



